{% load site_extras %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Devices for {{ child }}</title>
  </head>

  <body>
    <h1>Edit Devices for {{ child }}</h1>

    <form method="POST">
      {% csrf_token %} {% for slot_num in slot_range %}
      <label>Slot {{ slot_num }}:</label>

      <select name="slot_{{ slot_num }}">
        <option value="">None</option>

        {% for template in templates %}
        <option
          value="{{ template.id }}"
          {%
          if
          devices_by_slot|get_item:slot_num
          and
          devices_by_slot|get_item:slot_num.template.id=""
          ="template.id"
          %}
          selected
          {%
          endif
          %}
        >
          {{ template.model }} ({{ template.power }}A)
        </option>
        {% endfor %}
      </select>

      <br /><br />
      {% endfor %}

      <button type="submit">Save Changes</button>
    </form>
  </body>
</html>
